@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 1 900;
  font-display: swap;
  src: url("/static/fonts/Inter-VariableFont_slnt,wght-subset.woff2") format("woff2");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/SpaceGrotesk-Bold-subset.woff2") format("woff2");
}
:root {
  --color-cwnbg: #ffe5dc;
  --color-cwnmain: #D4776B;
  --color-cwnmain-muted: #ffd0ca;
  --color-recipe: rgb(98, 132, 93);
  --color-blog: rgb(128, 172, 211);
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --fontsize-body: clamp(16px, 4.3vw, 40px);
  --fontsize-h1: calc(var(--fontsize-body) * 1.95);
  --fontsize-h2: calc(var(--fontsize-body) * 1.49);
  --fontsize-h3: calc(var(--fontsize-body) * 1.25);
  --space-outer: 5vw;
}

@media (min-width: 768px) {
  :root {
    --fontsize-body: clamp(18px, 1.7vw, 40px);
    --space-outer: 2.5vw;
  }
}
body {
  background-color: var(--color-cwnbg);
  color: var(--color-cwnmain);
  font-family: var(--font-body);
  font-weight: 300;
  font-style: normal;
  font-size: var(--fontsize-body);
  padding: 0;
  margin: 0 auto;
  max-width: 2800px;
}

body {
  background: linear-gradient(to right, #ffead7, #ffd8d8);
}

h1, h2, h3 {
  font-family: var(--font-headline);
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

h1 {
  font-size: var(--fontsize-h1);
}

h2 {
  font-size: var(--fontsize-h2);
}

h3 {
  font-size: var(--fontsize-h3);
}

a {
  color: var(--color-cwnmain);
}

p {
  line-height: 1.4;
}

p a {
  position: relative;
  font-style: oblique 0deg;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  transform-origin: 100% 50%;
}
p a:hover {
  font-style: oblique 10deg;
}

strong {
  font-weight: 600;
}

.font-bold {
  font-weight: 600;
}

.flex picture > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div {
  box-sizing: border-box;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*=language-],
body pre[class*=language-] {
  background-color: #EEE;
}

@media (max-width: 767.5px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-on-wide {
    display: none !important;
  }
}

.post-preview-img, .post-head-image {
  background-color: var(--color-cwnmain-muted);
}

img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

img.fade-in {
  opacity: 1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-cwnmain) var(--color-cwnbg);
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--color-cwnmain-muted);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-cwnmain);
  border-radius: 5px;
  border: 3px solid var(--color-cwnmain-muted);
}

article.cookmode .post-section-recipe .post-body-ingredients::-webkit-scrollbar-track,
article.cookmode .post-section-recipe .post-body-instructions::-webkit-scrollbar-track {
  background: #FFF;
}
article.cookmode .post-section-recipe .post-body-ingredients::-webkit-scrollbar-thumb,
article.cookmode .post-section-recipe .post-body-instructions::-webkit-scrollbar-thumb {
  border: 3px solid #FFF;
}

.navigation {
  width: 100%;
}

.navigation--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navigation nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--space-outer);
}

.navigation .navigation-toggle {
  margin-left: 0;
  display: block;
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--color-cwnmain);
  background-color: transparent;
}
.navigation .navigation-toggle:focus {
  outline: none;
}

.navigation-toggle-hamburger path {
  fill: var(--color-cwnmain);
}

.navigation-menu {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}
.navigation-menu.--open {
  height: auto;
}
.navigation-menu.--open .navigation-menu-list-item {
  opacity: 1;
  transform: translateY(0%);
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navigation-menu.--open .navigation-menu-list-item:nth-child(2) {
  transition-delay: 0.025s;
}
.navigation-menu.--open .navigation-menu-list-item:nth-child(3) {
  transition-delay: 0.05s;
}
.navigation-menu.--hidden {
  height: 0;
}
.navigation-menu.--hidden .navigation-menu-list-item {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navigation-menu-list {
  padding: 1rem 0 0 0;
  justify-self: flex-end;
  align-items: center;
  flex: 1 1 0%;
  list-style: none;
}

.navigation-menu-list-item-link {
  display: block;
  text-decoration: none;
  font-family: var(--font-body);
  font-size: 2rem;
  padding: 0.75em 0;
  color: var(--color-cwnmain);
  border-bottom: 1px solid var(--color-cwnmain-muted);
}

.search {
  margin: 0 0.5em 0 auto;
}

.searchFieldWrap {
  text-align: left;
}

.search-interface {
  position: absolute;
  z-index: 1000;
  top: calc(var(--fontsize-h1) + var(--space-outer) + 4px);
  left: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #ffead7, #ffd8d8);
  display: none;
  padding: var(--space-outer);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.searchActive .search-interface {
  display: block;
}

#searchField {
  border: none;
  font-size: var(--fontsize-body);
  font-family: var(--font-body);
  font-weight: 300;
  padding: 20px;
  color: var(--color-cwnmain);
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
  width: 100%;
}
#searchField:focus {
  outline: none;
}

#searchResults {
  padding-left: var(--space-outer);
}
#searchResults li {
  text-align: left;
  font-size: 16px;
  margin-bottom: 15px;
}
#searchResults h3 {
  margin: 0 0 4px 0;
  font-size: 16px;
}
#searchResults h3 a {
  text-decoration: none;
}
#searchResults .search-result-description {
  display: block;
  text-decoration: none;
  margin: 0 0 4px 0;
  font-size: 14px;
}
#searchResults .tags {
  margin: 0;
}
#searchResults .tags-tag {
  font-size: 10px;
}

#noResultsFound p {
  font-style: italic;
}

.post-img {
  display: block;
  overflow: auto;
}
.post-img picture img {
  display: block;
  width: 100%;
  height: auto;
}

.post-preview {
  padding: 0 var(--space-outer) var(--space-outer) var(--space-outer);
}

.post-preview-img {
  display: block;
  overflow: auto;
}
.post-preview-img img {
  display: block;
  width: 100%;
  height: auto;
}

.post-preview-text-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  line-height: 1;
}

.post-preview-text-meta-category {
  text-decoration: none;
  font-weight: 300;
}

.post-preview--recipe .post-preview-text-meta-category, .post-preview--blog .post-preview-text-meta-category {
  background: var(--color-recipe);
  padding: 5px;
  margin-top: 0px;
  color: #FFF;
  border-radius: 3px;
}

.post-preview--blog .post-preview-text-meta-category {
  background: var(--color-blog);
}

.post-preview-text-content a {
  text-decoration: none;
}
.post-preview-text-content a.post-preview-text-content-read-more {
  font-family: var(--font-headline);
  text-decoration: underline;
  margin: 0.25em 0;
  display: inline-block;
}

.post-preview-text-content-title {
  font-size: var(--fontsize-h1);
  letter-spacing: -0.03em;
  line-height: 1.1;
  margin-top: -0.3rem;
  margin-bottom: 0.5rem;
}
.post-preview-text-content-title a {
  text-decoration: none;
}

.post-preview-text-content-excerpt {
  margin: 0.7rem 0;
}

.more-posts-header {
  font-family: var(--font-body);
  font-weight: 300;
  font-size: var(--fontsize-h3);
  padding: var(--space-outer);
  margin: 0;
}

.archive-header {
  padding: var(--space-outer);
  display: flex;
  gap: var(--space-outer);
}
.archive-header .tags {
  margin: 0;
}

.archive-header-title {
  font-family: var(--font-body);
  font-weight: 300;
  font-size: var(--fontsize-h3);
  margin: 0;
}

.archive-header-amount {
  font-size: 0.66em;
  color: var(--color-cwnmain);
  opacity: 0.5;
}

.post-preview:nth-child(n+2) .post-preview-text-content-title {
  font-size: var(--fontsize-h2);
}

.post-preview:nth-child(n+2) .post-preview-text-content-excerpt {
  display: none;
}

.post-preview:nth-child(n+5) {
  padding: 0;
  margin: var(--space-outer);
  border-top: 1px solid var(--color-cwnmain);
}

.post-preview:nth-child(n+5) .post-preview-text-content-excerpt,
.post-preview:nth-child(n+5) .post-preview-img {
  display: none;
}

.post-preview:nth-child(n+5) .post-preview-text-content-title {
  font-size: var(--fontsize-h3);
}

.post {
  padding: var(--space-outer);
}

.post-head-excerpt {
  font-size: var(--fontsize-h3);
}

.post-head-image {
  margin: 0 calc(-1 * var(--space-outer));
}
.post-head-image img {
  width: 100%;
  height: auto;
  height: 100%;
}

.post-head-text-meta-category {
  text-decoration: none;
}

.post-body-intro > p:first-child:first-letter, .post-body-intro blockquote:first-child + p:first-letter {
  float: left;
  font-family: var(--font-headline);
  font-size: calc(4.8 * var(--fontsize-body));
  font-style: normal;
  line-height: 1;
  padding-top: 0;
  padding-right: 8px;
  padding-left: 0;
  margin: -4px 0 -8px 0;
}
@-moz-document url-prefix() {
  .post-body-intro > p:first-child:first-letter, .post-body-intro blockquote:first-child + p:first-letter {
    font-size: calc(4.9 * var(--fontsize-body));
    margin: 0.085em 0.1em 0 0;
    padding: 0;
  }
}

.post ul {
  padding: 0;
  list-style: square;
}
.post ul > li {
  margin: 0 0 10px 1em;
}

.page {
  padding: var(--space-outer);
}
.page > p:first-of-type:first-letter, .page blockquote:first-of-type + p:first-letter {
  float: left;
  font-family: var(--font-headline);
  font-size: calc(4.8 * var(--fontsize-body));
  font-style: normal;
  line-height: 1;
  padding-top: 0;
  padding-right: 8px;
  padding-left: 0;
  margin: -4px 0 -8px 0;
}
@-moz-document url-prefix() {
  .page > p:first-of-type:first-letter, .page blockquote:first-of-type + p:first-letter {
    font-size: calc(4.9 * var(--fontsize-body));
    margin: 0.085em 0.1em 0 0;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
