@charset "UTF-8";
:root {
  --color-cwnbg: #ffe5dc;
  --color-cwnmain: #D4776B;
  --color-cwnmain-muted: #ffd0ca;
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --fontsize-body: clamp(16px, 4.3vw, 40px);
  --fontsize-h1: calc(var(--fontsize-body) * 1.95);
  --fontsize-h2: calc(var(--fontsize-body) * 1.49);
  --fontsize-h3: calc(var(--fontsize-body) * 1.25);
  --space-outer: 5vw;
}

@media (min-width: 768px) {
  :root {
    --fontsize-body: clamp(18px, 1.7vw, 40px);
    --space-outer: 2.5vw;
  }
}
body {
  background-color: var(--color-cwnbg);
  color: var(--color-cwnmain);
  font-family: var(--font-body);
  font-weight: 300;
  font-style: normal;
  font-size: var(--fontsize-body);
  padding: 0;
  margin: 0 auto;
  max-width: 2800px;
}

body {
  background: linear-gradient(to right, #ffead7, #ffd8d8);
}

h1, h2, h3 {
  font-family: var(--font-headline);
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

h1 {
  font-size: var(--fontsize-h1);
}

h2 {
  font-size: var(--fontsize-h2);
}

h3 {
  font-size: var(--fontsize-h3);
}

a {
  color: var(--color-cwnmain);
}

p {
  line-height: 1.4;
}

p a {
  position: relative;
  font-style: oblique 0deg;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  transform-origin: 100% 50%;
}
p a:hover {
  font-style: oblique 10deg;
}

strong {
  font-weight: 600;
}

.font-bold {
  font-weight: 600;
}

.flex picture > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div {
  box-sizing: border-box;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*=language-],
body pre[class*=language-] {
  background-color: #EEE;
}

@media (max-width: 767.5px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-on-wide {
    display: none !important;
  }
}

.navigation {
  width: 100%;
}

.navigation--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navigation nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--space-outer);
}

.navigation .navigation-toggle {
  margin-left: auto;
  display: block;
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--color-cwnmain);
  background-color: transparent;
}
.navigation .navigation-toggle:focus {
  outline: none;
}

.navigation-toggle-hamburger path {
  fill: var(--color-cwnmain);
}

.navigation-menu {
  width: 100%;
  flex-grow: 1;
}
.navigation-menu.--open {
  display: block;
}
.navigation-menu.--hidden {
  display: none;
}

.navigation-menu-list {
  padding: 1rem 0 0 0;
  justify-self: flex-end;
  align-items: center;
  flex: 1 1 0%;
  list-style: none;
}

.navigation-menu-list-item-link {
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: var(--font-body);
  font-size: 2rem;
  padding: 1em 0;
  color: var(--color-cwnmain);
}

.post-img {
  display: block;
  overflow: auto;
}
.post-img picture img {
  display: block;
  width: 100%;
  height: auto;
}

.post-preview {
  padding: 0 var(--space-outer) var(--space-outer) var(--space-outer);
}

.post-preview-img {
  display: block;
  overflow: auto;
}
.post-preview-img img {
  display: block;
  width: 100%;
  height: auto;
}

.post-preview-text-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  line-height: 1;
}

.post-preview-text-meta-category {
  text-decoration: none;
  font-weight: 300;
}

.post-preview-text-content a {
  text-decoration: none;
}
.post-preview-text-content a.post-preview-text-content-read-more {
  font-family: var(--font-headline);
  text-decoration: underline;
  margin: 0.25em 0;
  display: inline-block;
}

.post-preview-text-content-title {
  font-size: var(--fontsize-h1);
  letter-spacing: -0.03em;
  line-height: 1.1;
  margin-top: -0.3rem;
  margin-bottom: 0.5rem;
}
.post-preview-text-content-title a {
  text-decoration: none;
}

.post-preview-text-content-excerpt {
  margin: 0.7rem 0;
}

.more-posts-header,
.archive-header {
  font-family: var(--font-body);
  font-weight: 300;
  font-size: var(--fontsize-h3);
  padding: var(--space-outer);
  margin: 0;
}

.archive-header-amount {
  font-size: 0.66em;
  color: var(--color-cwnmain);
  opacity: 0.5;
}

.post-preview:nth-child(n+2) .post-preview-text-content-title {
  font-size: var(--fontsize-h2);
}

.post-preview:nth-child(n+2) .post-preview-text-content-excerpt {
  display: none;
}

.post-preview:nth-child(n+5) {
  padding: 0;
  margin: var(--space-outer);
  border-top: 1px solid var(--color-cwnmain);
}

.post-preview:nth-child(n+5) .post-preview-text-content-excerpt,
.post-preview:nth-child(n+5) .post-preview-img {
  display: none;
}

.post-preview:nth-child(n+5) .post-preview-text-content-title {
  font-size: var(--fontsize-h3);
}

.tags-label {
  border-top: 1px solid var(--color-cwnmain);
  padding-top: 1em;
  display: block;
  font-size: calc(var(--fontsize-body) * 0.8);
  margin: var(--space-outer);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem var(--space-outer);
  gap: 5px;
}

.tags-tag {
  flex: 0 0 auto;
  font-size: calc(var(--fontsize-body) * 0.8);
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.25em 0.5em;
  margin: 0;
  border-radius: 8px;
  opacity: 0.8;
  transform-origin: 50% 100%;
  transform: scale(1);
  transition: all 0.2s ease-out;
}

.tags-tag:hover {
  z-index: 3;
  opacity: 0.8;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

.cookmode-mobile-tabs {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: none;
  z-index: 99;
  overflow: auto;
}
.cookmode-mobile-tabs:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-cwnmain);
  z-index: 97;
}
.cookmode-mobile-tabs:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color-cwnbg);
  z-index: 95;
}
.cookmode .cookmode-mobile-tabs {
  display: block;
}
.cookmode-mobile-tabs a {
  border: 1px solid var(--color-cwnmain);
  border-bottom-color: var(--color-cwnbg);
  border-radius: 3px 3px 0 0;
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 96;
}
.cookmode-mobile-tabs a:first-child {
  margin-left: 20px;
}
.cookmode-mobile-tabs a.active {
  font-weight: 600;
  z-index: 98;
}

.toggle-cookmode {
  border: none;
  border-radius: 12px;
  background-color: var(--color-cwnmain);
  color: var(--color-cwnbg);
  padding: 0.5em 0.75em;
  float: right;
  font-family: var(--font-headline);
  position: sticky;
  top: var(--space-outer);
  z-index: 100;
  box-shadow: 0 0px 0px rgba(200, 50, 0, 0);
  transform: scale(1);
  transition: all 0.2s ease-out;
}
.toggle-cookmode:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 8px rgba(200, 50, 0, 0.3);
}

article.cookmode .post-section-head {
  visibility: hidden;
  opacity: 0;
  display: none;
}
article.cookmode .post-section-recipe {
  position: fixed;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: 4;
  overflow: hidden;
}
article.cookmode .post-section-recipe .post-body-ingredients, article.cookmode .post-section-recipe .post-body-instructions {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--color-cwnbg);
  padding: calc(55px + var(--space-outer)) var(--space-outer) var(--space-outer) var(--space-outer);
  z-index: 1;
}
article.cookmode .post-section-recipe .post-body-ingredients:target, article.cookmode .post-section-recipe .post-body-instructions:target {
  z-index: 2;
}
article.cookmode .tags {
  display: none;
}
article.cookmode .toggle-cookmode {
  position: fixed;
  right: var(--space-outer);
}
article.cookmode .post-body-instructions p, article.cookmode .post-body-ingredients li {
  list-style: none;
  padding: 0.5em 0 0.5em 1em;
  margin: 0;
  position: relative;
  cursor: pointer;
}
article.cookmode .post-body-instructions p > p, article.cookmode .post-body-ingredients li > p {
  margin: 0;
}
article.cookmode .post-body-instructions p:before, article.cookmode .post-body-ingredients li:before {
  content: "";
  position: absolute;
  top: 0.85em;
  left: 0;
  width: 0.5em;
  height: 0.5em;
  background-color: #FFF;
  border: 2px solid var(--color-cwnmain);
  border-radius: 3px;
}
article.cookmode .post-body-instructions p:hover:before, article.cookmode .post-body-ingredients li:hover:before {
  box-shadow: inset 0px 2px 4px rgba(200, 100, 50, 0.3);
}
article.cookmode .post-body-instructions p.done:before, article.cookmode .post-body-ingredients li.done:before {
  display: none;
}
article.cookmode .post-body-instructions p.done:after, article.cookmode .post-body-ingredients li.done:after {
  content: "✓";
  position: absolute;
  top: 0.45em;
  left: 0em;
  font-size: 1em;
  color: var(--color-cwnmain);
}
article.cookmode .post-body-instructions p.done, article.cookmode .post-body-ingredients li.done {
  opacity: 0.5;
  text-decoration: line-through;
}

.site-footer {
  padding: var(--space-outer);
  text-align: center;
  font-size: calc(var(--fontsize-body) * 0.8);
}

.pagination {
  padding: var(--space-outer);
}
.pagination ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}
.pagination ol li {
  color: var(--color-cwnmain-muted);
  text-align: center;
}
.pagination ol a {
  border-radius: 3px;
  background-color: transparent;
  display: inline-block;
  padding: 2px 4px;
  min-width: 20px;
  min-height: 20px;
  color: var(--color-cwnmain);
  text-decoration: none;
}
.pagination ol a:hover {
  background-color: var(--color-cwnmain-muted);
}
.pagination ol a[aria-current=page] {
  background-color: var(--color-cwnmain-muted);
}

.post {
  padding: var(--space-outer);
}

.post-head-excerpt {
  font-size: var(--fontsize-h3);
}

.post-head-image {
  margin: 0 calc(-1 * var(--space-outer));
}
.post-head-image img {
  width: 100%;
  height: auto;
}

.post-head-text-meta-category {
  text-decoration: none;
}

.post-body-intro > p:first-child:first-letter, .post-body-intro blockquote:first-child + p:first-letter {
  float: left;
  font-family: var(--font-headline);
  font-size: calc(4.8 * var(--fontsize-body));
  font-style: normal;
  line-height: 1;
  padding-top: 0;
  padding-right: 8px;
  padding-left: 0;
  margin: -4px 0 -8px 0;
}
@-moz-document url-prefix() {
  .post-body-intro > p:first-child:first-letter, .post-body-intro blockquote:first-child + p:first-letter {
    font-size: calc(4.9 * var(--fontsize-body));
    margin: 0.085em 0.1em 0 0;
    padding: 0;
  }
}

.post ul {
  padding: 0;
  list-style: square;
}
.post ul > li {
  margin: 0 0 10px 1em;
}

/*# sourceMappingURL=style.css.map */
