@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 1 900;
  font-display: swap;
  src: url("/static/fonts/Inter-VariableFont_slnt,wght-subset.woff2") format("woff2");
}
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/SpaceGrotesk-Bold-subset.woff2") format("woff2");
}
:root {
  --color-cwnbg: #ffe5dc;
  --color-cwnmain: #D4776B;
  --color-cwnmain-muted: #ffd0ca;
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --fontsize-body: clamp(16px, 4.3vw, 40px);
  --fontsize-h1: calc(var(--fontsize-body) * 1.95);
  --fontsize-h2: calc(var(--fontsize-body) * 1.49);
  --fontsize-h3: calc(var(--fontsize-body) * 1.25);
  --space-outer: 5vw;
}

@media (min-width: 768px) {
  :root {
    --fontsize-body: clamp(18px, 1.7vw, 40px);
    --space-outer: 2.5vw;
  }
}
body {
  background-color: var(--color-cwnbg);
  color: var(--color-cwnmain);
  font-family: var(--font-body);
  font-weight: 300;
  font-style: normal;
  font-size: var(--fontsize-body);
  padding: 0;
  margin: 0 auto;
  max-width: 2800px;
}

body {
  background: linear-gradient(to right, #ffead7, #ffd8d8);
}

h1, h2, h3 {
  font-family: var(--font-headline);
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

h1 {
  font-size: var(--fontsize-h1);
}

h2 {
  font-size: var(--fontsize-h2);
}

h3 {
  font-size: var(--fontsize-h3);
}

a {
  color: var(--color-cwnmain);
}

p {
  line-height: 1.4;
}

p a {
  position: relative;
  font-style: oblique 0deg;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  transform-origin: 100% 50%;
}
p a:hover {
  font-style: oblique 10deg;
}

strong {
  font-weight: 600;
}

.font-bold {
  font-weight: 600;
}

.flex picture > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div {
  box-sizing: border-box;
}

/* Syntax Highlighting*/
body :not(pre) > code[class*=language-],
body pre[class*=language-] {
  background-color: #EEE;
}

@media (max-width: 767.5px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-on-wide {
    display: none !important;
  }
}

.tags-label {
  border-top: 1px solid var(--color-cwnmain);
  padding-top: 1em;
  display: block;
  font-size: calc(var(--fontsize-body) * 0.8);
  margin: var(--space-outer);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem var(--space-outer);
  gap: 5px;
}

.tags-tag {
  flex: 0 0 auto;
  font-size: calc(var(--fontsize-body) * 0.8);
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.25em 0.5em;
  margin: 0;
  border-radius: 8px;
  opacity: 0.8;
  transform-origin: 50% 100%;
  transform: scale(1);
  transition: all 0.2s ease-out;
}

.tags-tag:hover {
  z-index: 3;
  opacity: 0.8;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

.post {
  padding: var(--space-outer);
}

.post-head-excerpt {
  font-size: var(--fontsize-h3);
}

.post-head-image {
  margin: 0 calc(-1 * var(--space-outer));
}
.post-head-image img {
  width: 100%;
  height: auto;
  height: 100%;
}

.post-head-text-meta-category {
  text-decoration: none;
}

.post-body-intro > p:first-child:first-letter, .post-body-intro blockquote:first-child + p:first-letter {
  float: left;
  font-family: var(--font-headline);
  font-size: calc(4.8 * var(--fontsize-body));
  font-style: normal;
  line-height: 1;
  padding-top: 0;
  padding-right: 8px;
  padding-left: 0;
  margin: -4px 0 -8px 0;
}
@-moz-document url-prefix() {
  .post-body-intro > p:first-child:first-letter, .post-body-intro blockquote:first-child + p:first-letter {
    font-size: calc(4.9 * var(--fontsize-body));
    margin: 0.085em 0.1em 0 0;
    padding: 0;
  }
}

.post ul {
  padding: 0;
  list-style: square;
}
.post ul > li {
  margin: 0 0 10px 1em;
}

img {
  width: 100%;
  height: auto;
}

body {
  padding: var(--space-outer);
}

/*# sourceMappingURL=style-CMS.css.map */
