@use './_utils/mixins.scss' as mixins;

:root {
  --color-cwnbg: #ffe5dc;
  --color-cwnmain: #D4776B;
  --color-cwnmain-muted: #efc2bc;
  --font-headline: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;
  --fontsize-body: 4.3vw;
  --fontsize-h1: calc(var(--fontsize-body) * 1.95);
  --fontsize-h2: calc(var(--fontsize-body) * 1.49);
  --fontsize-h3: calc(var(--fontsize-body) * 1.25);
  --space-outer: 5vw;
}
@include mixins.bp-wide {
  :root {
    --fontsize-body: 1.7vw;
    --space-outer: 2.5vw;
  }
}
body {
  background-color: var(--color-cwnbg);
  color: var(--color-cwnmain);
  font-family: var(--font-body);
  font-weight: 300;
  font-style: normal;
  font-size: var(--fontsize-body);
  padding: 0;
  margin: 0;
}
body {
  // background: linear-gradient(to right, #d4e7ff, #fac9ba);
  background: linear-gradient(to right, #ffead7, #ffd8d8);
}
h1, h2, h3 {
  font-family: var(--font-headline);
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -0.025em;
}
h1 {
  font-size: var(--fontsize-h1);
}
h2 {
  font-size: var(--fontsize-h2);
}
h3 {
  font-size: var(--fontsize-h3);
}
a {
  color: var(--color-cwnmain);
}
p {
  line-height: 1.4;
}
p a {
  position: relative;
  font-style: oblique 0deg;
  font-weight: 600;
  transition: all .2s ease-in-out;
  transform-origin: 100% 50%;
  &:hover {
    font-style: oblique 10deg;
  }
}
strong {
  font-weight: 600;
}
.font-bold {
  font-weight: 600;
}
.flex picture > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div {
  box-sizing: border-box;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  // @apply bg-gray-800;
  background-color: #EEE;
}

.hide-on-mobile {
  @include mixins.bp-mobile-only {
    display: none!important;
  }
}
.hide-on-wide {
  @include mixins.bp-wide {
    display: none!important;
  }
}