.post {
  padding: var(--space-outer);
}
.post-head-excerpt {
  font-size: var(--fontsize-h3);
}
.post-head-image {
  margin: 0 calc(-1 * var(--space-outer));
  & img {
    width: 100%;
    height: auto;
  }
}
.post-head-text-meta-category {
  text-decoration: none;
}
.post-body-intro {
  & > p:first-child:first-letter,
  & blockquote:first-child + p:first-letter {
    float: left;
    font-family: var(--font-headline);
    font-size: calc(4.8 * var(--fontsize-body));
    font-style: normal;
    line-height: 1;
    padding-top: 0;
    padding-right: 8px;
    padding-left: 0;
    margin: -4px 0 -8px 0;
    @-moz-document url-prefix() {
      font-size: calc(4.9 * var(--fontsize-body));
      margin: 0.085em .1em 0 0;
      padding: 0;
    }
  }
}
.post ul {
  padding: 0;
  list-style: square;
  & > li {
    margin: 0 0 10px 1em;
  }
}
