@use '../_utils/mixins.scss' as mixins;

.navigation {
  width: 100%;
}
.navigation--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.navigation nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--space-outer);
}
.navigation .navigation-toggle {
  margin-left: 0;
  display: block;
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--color-cwnmain);
  background-color: transparent;
  &:focus {
    outline: none;
  }
}
.navigation-toggle-hamburger {
  & path {
    fill: var(--color-cwnmain);
  }
}
.navigation-menu {
  // w-full flex-grow lg:flex lg:items-center lg:w-auto text-center 
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  &.--open {
    height: auto;
    // display: block;
    
    & .navigation-menu-list-item {
      opacity: 1;
      transform: translateY(0%);
      transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    }
    & .navigation-menu-list-item:nth-child(2) {
      transition-delay: .025s;
    }
    & .navigation-menu-list-item:nth-child(3) {
      transition-delay: .05s;
    }
  }
  &.--hidden {
    height: 0;
    // display: none;
    
    & .navigation-menu-list-item {
      opacity: 0;
      transform: translateY(-100%);
      transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    }
  }
}

.navigation-menu-list {
  padding: 1rem 0 0 0;
  justify-self: flex-end;
  align-items: center;
  flex: 1 1 0%;
  list-style: none;
}

.navigation-menu-list-item-link {
  display: block;
  text-decoration: none;
  font-family: var(--font-body);
  font-size: 2rem;
  padding: .75em 0;
  color: var(--color-cwnmain);
  border-bottom: 1px solid var(--color-cwnmain-muted);
}