.tooltip {
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;
  background-color: var(--color-cwnbg);
  color: var(--color-cwnmain);
  border-radius: 0 6px 6px 6px;
  box-shadow: 0 2px 8px rgba(200, 100, 50, 0.3);
  transition: all .01s linear;
  font-size: calc(var(--fontsize-body) * 0.5);
  padding: 1em;
  opacity: 0;
  visibility: hidden;
  max-width: 400px;
}
.tooltip.tooltip--left {
  border-radius: 6px 0 6px 6px;
}
.tooltip.tooltip--visible {
  opacity: 1;
  visibility: visible;
}