<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"/> -->
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/style.css' | url }}" media="screen and (max-width: 767px)" />
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/style-desktop.css' | url }}" media="screen and (min-width: 768px)" />
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/style-deferred.css' | url }}" media="print" onload="this.media='screen and (max-width: 767px)'; this.onload=null;">
    <link rel="stylesheet" type="text/css" href="{{ '/static/css/style-desktop-deferred.css' | url }}" media="print" onload="this.media='screen and (min-width: 768px)'; this.onload=null;">
  </head>
  <body data-barba="wrapper">
    {% include "src/_includes/_components/partials/navbar.html" %}
    <main data-barba="container" data-barba-namespace="home">
      {{ content | safe }}
    </main>
    {% include "src/_includes/_components/partials/footer.html" %}
    <div class="tooltip hide-on-mobile">Tooltip message!</div>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>