---
type: post
layout: _layouts/blog
permalink: "{{ title | slugify }}/"
description: "{{ description }}"
---
<article class="post post--{{categories}}" x-data="{ cookmode: false }" :class="cookmode ? 'cookmode' : ''">
  <div x-data="{ tab: 'instructions' }" class="cookmode-mobile-tabs hide-on-wide">
    <a href="#instructions" @click="tab = 'instructions'" :class="tab=='instructions' ? 'active' : ''">Instructions</a>
    <a href="#ingredients" @click="tab = 'ingredients'" :class="tab=='ingredients' ? 'active' : ''">Ingredients</a>
  </div>
  {% if categories == 'cooking' and instructions %}
  <button 
    class="toggle-cookmode" 
    @click="cookmode = !cookmode" 
    x-text="cookmode ? '← Back' : 'Cookmode'" 
    data-tooltip="Hide/Show everything but the recipe">
  </button>
  {% endif %}
  <section class="post-section post-section-head">
    <div class="post-head-text">
      <a href="/category/{{categories}}" class="post-head-text-meta-category">
        {% if categories == 'news' %}
          Blog
        {% else %}
          Recipe
        {% endif %}
      </a>
      <h1 class="post-head-title" @click="cookmode = ! cookmode">{{title}}</h1>
      <p class="post-head-excerpt">
        {% if description != '{{ description }}' %}
          {{ description }}
        {% endif %}
      </p>
      {% if tags %}
      <span class="tags-label hide-on-mobile">Tagged as:</span>
      <div class="tags hide-on-mobile">
          {% for tag in tags %}
            {% if tag | isArray %}
              {% for t in tag %}
                <a class="tags-tag" href="/tags/{{t}}">{{t}}</a>
              {% endfor %}
            {% elseif tag != 'article' and tag != 'blog' and tag != 'cooking' and tag != 'recipe' and tag != 'news' %}
            <a class="tags-tag" href="/tags/{{tag}}">{{tag}}</a>
            {% endif %}
          {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="post-head-image">
      {% if featuredImage %}
        {% image featuredImage, title, "(min-width: 768px) 60vw, 100vw", "eager" %}
      {% endif %}
    </div>
    <div class="post-body-intro">  
      {{ content | safe }}
    </div>
  </section>
  {% if categories == 'cooking' %}
  <section class="post-section post-section-recipe">
    {% if ingredients %}
    <div class="post-body-ingredients" id="ingredients">
      {% markdown ingredients %}
    </div>
    {% endif %}
    {% if instructions %}
    <div class="post-body-instructions" id="instructions">
      <h2 class="text-2xl">Instructions</h2>
      {% markdown instructions %}
    </div>
    {% endif %}
  </section>
  {% endif %}
</article>
<span class="tags-label hide-on-wide">Tagged as:</span>
<div class="tags hide-on-wide">
  {% if tags %}
    {% for tag in tags %}
      {% if tag != 'article' and tag != 'blog' and tag != 'cooking' and tag != 'recipe' and tag != 'news' %}
      <a class="tags-tag" href="/tags/{{tag}}">{{tag}}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

{% if categories == 'news' %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{title}}",
    "image": "{{featuredImage}}",  
    "author": {
      "@type": "Person",
      "name": "Tracey Ingram"
    },  
    "publisher": {
      "@type": "Person",
      "name": "Tracey Ingram",
      "logo": {
        "@type": "ImageObject",
        "url": "src/static/img/cwn-logo.svg"
      }
    },
    "datePublished": "{{date}}"
  }
  </script>

{% else %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/", 
    "@type": "Recipe", 
    "name": "{{title}}",
    "image": "{{featuredImage}}",
    "description": "{{description}}",
    "keywords": "",
    "author": {
      "@type": "Person",
      "name": "Tracey Ingram"
    }
  }
  </script>

{% endif %}