---
layout: _layouts/default
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
{% set taglist = collections[ tag ] %}
{% if taglist.length === 1 %}
  {% set amount = "1 article" %}
{% else %}
  {% set amount = [taglist.length, " articles"] | join %}
{% endif %}

<header class="archive-header">
  <h1 class="archive-header-title">All things “{{ tag }}” <span class="archive-header-amount">({{ amount }})</span></h1>
</header>

<section class="feed feed--tag">
{% for post in taglist | reverse %}

  {% if loop.index === 1 %}
    {% set sizes = "(min-width: 768px) 45vw, 100vw" %}
    {% set loading = "eager" %}
  {% elif loop.index === 2 %}
    {% set sizes = "(min-width: 768px) 23vw, 100vw" %}
    {% set loading = "eager" %}
  {% elif loop.index === 5 %}
    {% set sizes = "(min-width: 768px) 28vw, 100vw" %}
    {% set loading = "lazy" %}
  {% else %}
    {% set sizes = "(min-width: 768px) 23vw, 100vw" %}
    {% set loading = "lazy" %}
  {% endif %}

  {% if loop.index === 4 %}
    <h2 class="more-posts-header">More posts</h2>
  {% endif %}
  {% postCard post, sizes, loading %}

{% endfor %}

</section>

  