---
pagination:
  data: collections.article
  size: 15
  reverse: true
layout: _layouts/blog
---

<section class="feed feed--home">
  
{% for post in pagination.items %}
{% if loop.index === 1 %}
  {% set sizes = "(min-width: 768px) 45vw, 100vw" %}
  {% set loading = "eager" %}
{% elif loop.index === 2 %}
  {% set sizes = "(min-width: 768px) 23vw, 100vw" %}
  {% set loading = "eager" %}
{% elif loop.index === 5 %}
  {% set sizes = "(min-width: 768px) 28vw, 100vw" %}
  {% set loading = "lazy" %}
{% else %}
  {% set sizes = "(min-width: 768px) 23vw, 100vw" %}
  {% set loading = "lazy" %}
{% endif %}

{% if loop.index === 4 %}
  <h2 class="more-posts-header">More posts</h2>
{% endif %}
  {% postCard post, sizes, loading %}
{% endfor %}

</section>

{% include "src/_includes/_components/partials/pagination.njk" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "Blog", 
  "name": "Cooking with Nothing",
  "alternateName": "A journey towards gut health",
  "image": "src/static/img/cwn-logo.svg",
  "description": "Tracey Ingram loves food but grew up with a tonne of tummy problems. This blog is about cooking with nothing that doesn\’t serve me.",
  "keywords": "cooking, health, gut health, tummy problems, food, ajurveda",
  "author": {
    "@type": "Person",
    "name": "Tracey Ingram"
  }
}
</script>